/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$color-white: #fff;
$color-pink: #f04999;
$color-darkyellow: #d8a400;
$color-yellow: #f1b700;
$color-lightyellow: #efd992;
$color-grey: #454545;

$font: 'Lato', sans-serif;

$fontsize-text: 1rem;
$fontsize-title: 1.4rem;
$fontsize-subtitle: 1.25rem;
$fontsize-icon: 2rem;

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # BOOTSTRAP
/*---------------------------------------*/

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
