/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
body {
  font-family: "Lato", sans-serif;
  color: #454545;
}

h1, h2, h3 {
  font-weight: 900;
}

ul {
  list-style: none;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-header {
  background-color: white;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .c-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
  }
}

.c-header__logo {
  height: 2.5rem;
  width: auto;
}

.c-welkom {
  text-align: center;
  padding: 5rem;
}

.c-welkom__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-welkom__img {
  height: 2.5rem;
  width: auto;
  margin: 1rem;
  margin-top: .5rem;
}

.c-welkom__img-rotate {
  -webkit-transform: rotate(235deg);
          transform: rotate(235deg);
}

.c-welkom__text {
  margin-top: 1rem;
}

.c-anchor {
  display: block;
  height: 4rem;
  margin-top: -4rem;
  visibility: hidden;
}

.c-over {
  background-color: #f04999;
  padding-top: 5rem;
  padding-bottom: 6rem;
  color: #fff;
}

@media screen and (max-width: 991px) {
  .c-over {
    text-align: center;
  }
}

.c-over__title {
  padding-bottom: 1rem;
}

@media screen and (max-width: 991px) {
  .c-over__video {
    margin-top: 3rem;
  }
}

.c-img {
  padding: 0;
}

.c-aanbod {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

@media screen and (max-width: 767px) {
  .c-aanbod {
    text-align: center;
  }
}

.c-aanbod__text {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 767px) {
  .c-aanbod__aanbod {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.c-aanbod__lijst {
  margin-left: 3rem;
  list-style: disc;
}

@media screen and (max-width: 767px) {
  .c-aanbod__lijst {
    margin-bottom: 3rem;
  }
}

.c-donuts {
  background-color: #f04999;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .c-donuts {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .c-donuts__content {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .c-donuts__content {
    margin-right: auto;
    margin-left: auto;
    max-width: 33.75rem;
  }
}

.c-donuts__img {
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .c-donuts__img {
    padding-right: 0;
  }
}

.c-donuts__text {
  margin-top: 1rem;
  padding-bottom: 1.5rem;
}

.c-button {
  background-color: #f1b700;
  padding: .8rem 1rem;
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #454545;
  text-decoration: none;
  border: none;
  border-radius: .4rem !important;
  font-weight: 700;
  -webkit-transition: background-color .3s ease-out, margin-left .2s ease-in, -webkit-box-shadow .2s ease-in;
  transition: background-color .3s ease-out, margin-left .2s ease-in, -webkit-box-shadow .2s ease-in;
  transition: background-color .3s ease-out, box-shadow .2s ease-in, margin-left .2s ease-in;
  transition: background-color .3s ease-out, box-shadow .2s ease-in, margin-left .2s ease-in, -webkit-box-shadow .2s ease-in;
}

.c-button:hover {
  background-color: #d8a400;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #454545;
  margin-left: .2rem;
}

.c-bestel {
  padding-bottom: 6rem;
}

@media screen and (max-width: 767px) {
  .c-bestel {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .c-bestel__title {
    padding-top: 6rem;
  }
}

.c-bestel__text {
  margin-top: 1rem;
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 767px) {
  .c-bestel__img {
    margin-top: 1rem;
  }
}

.c-bestel__maatregelen {
  background-color: #efd992;
  padding: 1rem;
  padding-bottom: 0;
  border-radius: .4rem;
  text-align: center;
}

.c-kaart {
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .c-kaart {
    height: 25rem;
  }
}

@media screen and (max-width: 767px) {
  .c-kaart {
    height: 20rem;
  }
}

.c-contact {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #f04999;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .c-contact__title {
    text-align: center;
  }
}

.c-contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
}

@media screen and (max-width: 767px) {
  .c-contact__content-first {
    margin-left: 1rem;
  }
}

.c-contact__icon {
  height: 2rem;
  width: auto;
  fill: #fff;
  margin-right: 1rem;
}

.c-contact__locatie {
  font-size: 1.25rem;
}

.c-contact__uren {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-contact__dagen {
  padding-left: 0;
}

.c-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

@media screen and (max-width: 767px) {
  .c-socials {
    margin-top: 6rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.c-socials__link {
  text-decoration: none;
}

.c-socials__icon {
  margin: .5rem;
  fill: #fff;
  height: 2.3rem;
  width: auto;
  -webkit-filter: drop-shadow(4px 4px 0 rgba(0, 0, 0, 0.15));
          filter: drop-shadow(4px 4px 0 rgba(0, 0, 0, 0.15));
  -webkit-transition: fill .3s ease-in, padding-top .2s ease-in, padding-left .2s ease-in, -webkit-filter .2s ease-in;
  transition: fill .3s ease-in, padding-top .2s ease-in, padding-left .2s ease-in, -webkit-filter .2s ease-in;
  transition: fill .3s ease-in, filter .2s ease-in, padding-top .2s ease-in, padding-left .2s ease-in;
  transition: fill .3s ease-in, filter .2s ease-in, padding-top .2s ease-in, padding-left .2s ease-in, -webkit-filter .2s ease-in;
}

@media screen and (max-width: 767px) {
  .c-socials__icon {
    margin: .7rem;
  }
}

.c-socials__icon:hover {
  fill: #f0f0f0;
  -webkit-filter: none;
          filter: none;
  padding-top: .1rem;
  padding-left: .1rem;
}

.c-howest {
  margin-top: 5rem;
}

/*---------------------------------------/*
 # BOOTSTRAP
/*---------------------------------------*/
.nav-link {
  font-size: 1.2rem;
  color: #454545 !important;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
  font-weight: 700;
}

.nav-link:hover {
  color: #f04999 !important;
}

.dropdown-item {
  color: #454545 !important;
  -webkit-transition: color 0.3s ease-in, background-color 0.5s ease-out;
  transition: color 0.3s ease-in, background-color 0.5s ease-out;
}

.dropdown-item:hover {
  color: #f04999 !important;
}

.active {
  color: #f04999 !important;
  background-color: white !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url(../assets/images/hamburger.png) !important;
}

.form-label {
  margin-top: 5rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.form-control {
  border: none;
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-right: 1rem;
  border: none;
  border-radius: .4rem !important;
  color: #454545 !important;
  padding: .8rem 1rem;
  -webkit-transition: background-color .2s ease-out, -webkit-box-shadow .15s ease-in;
  transition: background-color .2s ease-out, -webkit-box-shadow .15s ease-in;
  transition: box-shadow .15s ease-in, background-color .2s ease-out;
  transition: box-shadow .15s ease-in, background-color .2s ease-out, -webkit-box-shadow .15s ease-in;
}

.form-control:hover {
  cursor: text;
  background-color: #f4f4f4;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(241, 183, 0, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(241, 183, 0, 0.5);
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
