/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
body {
  font-family: "Lato", sans-serif !important;
  color: #454545 !important;
}

h1, h2, h3 {
  font-weight: 900 !important;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.c-header__logo {
  height: 2rem;
  width: auto;
}

.c-welkom {
  text-align: center;
  padding: 5rem;
}

.c-welkom__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-welkom__img {
  height: 2.5rem;
  width: auto;
  margin: 1rem;
  margin-top: .5rem;
}

.c-welkom__img-rotate {
  -webkit-transform: rotate(235deg);
          transform: rotate(235deg);
}

.c-welkom__text {
  margin-top: 1rem;
}

.c-anchor {
  display: block;
  height: 3.7rem;
  margin-top: -3.7rem;
  visibility: hidden;
}

.c-over {
  background-color: #f04999;
  padding: 5rem;
  color: #fff;
}

.c-img {
  padding: 0 !important;
}

.c-aanbod {
  padding: 6rem;
}

.c-aanbod__text {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.c-aanbod__lijst {
  margin-left: 3rem;
}

.c-donuts {
  background-color: #f04999;
  color: #fff;
}

.c-donuts__img {
  padding-left: 0 !important;
}

.c-donuts__text {
  margin-top: 1rem;
  padding-bottom: 1.5rem;
}

.c-button {
  background-color: #f1b700;
  padding: .8rem 1rem;
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #454545;
  text-decoration: none;
  border-radius: .4rem;
  font-weight: 700;
  -webkit-transition: background-color .3s ease-out, margin-left .2s ease-in, -webkit-box-shadow .2s ease-in;
  transition: background-color .3s ease-out, margin-left .2s ease-in, -webkit-box-shadow .2s ease-in;
  transition: background-color .3s ease-out, box-shadow .2s ease-in, margin-left .2s ease-in;
  transition: background-color .3s ease-out, box-shadow .2s ease-in, margin-left .2s ease-in, -webkit-box-shadow .2s ease-in;
}

.c-button:hover {
  background-color: #d8a400;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #454545;
  margin-left: .2rem;
}

.c-bestel {
  padding-bottom: 6rem;
}

.c-bestel__text {
  margin-top: 1rem;
  padding-bottom: 1.5rem;
}

.c-bestel__maatregelen {
  background-color: #efd992;
  padding: 1rem;
  padding-bottom: 0;
  border-radius: .4rem;
  text-align: center;
}

/*---------------------------------------/*
 # BOOTSTRAP
/*---------------------------------------*/
.nav-link {
  color: #454545 !important;
  -webkit-transition: color 0.3s ease-in !important;
  transition: color 0.3s ease-in !important;
}

.nav-link:hover {
  color: #f04999 !important;
}

.dropdown-item {
  color: #454545 !important;
  -webkit-transition: color 0.3s ease-in, background-color 0.5s ease-out;
  transition: color 0.3s ease-in, background-color 0.5s ease-out;
}

.dropdown-item:hover {
  color: #f04999 !important;
}

.active {
  color: #f04999 !important;
  background-color: white !important;
}

.navbar-toggler {
  border: none !important;
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
