/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
body {
  font-family: "Lato", sans-serif;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
}

.c-header__logo {
  height: 2rem;
  width: auto;
}

/*---------------------------------------/*
 # BOOTSTRAP
/*---------------------------------------*/
.nav-link {
  color: #454545 !important;
  -webkit-transition: color 0.3s ease-in !important;
  transition: color 0.3s ease-in !important;
}

.nav-link:hover {
  color: #f04999 !important;
}

.dropdown-item {
  color: #454545 !important;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.dropdown-item:hover {
  color: #f04999 !important;
}

.active {
  color: #f04999 !important;
  background-color: white !important;
}

.navbar-toggler {
  border: none !important;
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
