/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$color-white: #fff;
$color-darkgrey: #454545;
$color-pink: #f04999;
$color-darkyellow: #d8a400;
$color-yellow: #f1b700;
$color-lightyellow: #efd992;

$shadow: 4px 4px 0 rgba(0,0,0,.15);

$font: 'Lato', sans-serif;

$size-icon: 2rem;

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
body{
    font-family: $font !important;
    color: $color-darkgrey !important;
}
h1, h2, h3 {
    font-weight: 900 !important;
}
ul {
    list-style: none;
}
/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0,0,0,.15);
  &__logo {
    height: 2rem;
    width: auto;
  }
}
.c-welkom {
    text-align: center;
    padding: 5rem;
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img {
        height: 2.5rem;
        width: auto;
        margin: 1rem;
        margin-top: .5rem;
        &-rotate {
            transform: rotate(235deg);
        }
    }
    &__text {
        margin-top: 1rem;
    }
}
.c-anchor{
  display: block;
  height: 3.7rem; 
  margin-top: -3.7rem; 
  visibility: hidden;
}
.c-over {
    background-color: $color-pink;
    padding: 5rem;
    color: $color-white;
}
.c-img {
    padding: 0 !important;
}
.c-aanbod {
    padding-top: 6rem;
    padding-bottom: 6rem;
    &__text {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    &__lijst {
        margin-left: 3rem;
        list-style: disc;
    }
}
.c-donuts {
    background-color: $color-pink;
    color: $color-white;
    &__img {
        padding-left: 0 !important;
    }
    &__text {
        margin-top: 1rem;
        padding-bottom: 1.5rem;
    }
}
.c-button {
    background-color: $color-yellow;
    padding: .8rem 1rem;
    box-shadow: $shadow;
    color: $color-darkgrey;
    text-decoration: none;
    border: none;
    border-radius: .4rem !important;
    font-weight: 700;
    transition: background-color .3s ease-out, box-shadow .2s ease-in, margin-left .2s ease-in;
    &:hover {
        background-color: $color-darkyellow;
        box-shadow: none;
        color: $color-darkgrey;
        margin-left: .2rem;
    }
}
.c-bestel {
    padding-bottom: 6rem;
    &__text {
        margin-top: 1rem;
        padding-bottom: 1.5rem;
    }
    &__maatregelen {
        background-color: $color-lightyellow;
        padding: 1rem;
        padding-bottom: 0;
        border-radius: .4rem;
        text-align: center;
    }
}
.c-kaart {
    padding: 0 !important;
    width: 100%;
}
.c-contact {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: $color-pink;
    color: $color-white;
    &__content {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }
    &__icon {
        height: $size-icon;
        width: auto;
        fill: $color-white;
        margin-right: 1rem;
    }
    &__locatie {
        font-size: 1.25rem;
    }
    &__uren {
        display: flex;
    }
    &__dagen {
        padding-left: 0;
    }
}
.c-socials {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    &__link {
        text-decoration: none;
    }
    &__icon {
        margin: .5rem;
        fill: $color-white;
        height: $size-icon;
        width: auto;
        filter: drop-shadow($shadow);
        transition: fill .3s ease-in, filter .2s ease-in, padding-top .2s ease-in, padding-left .2s ease-in;
        &:hover {
            fill: #f4f4f4;
            filter: none;
            padding-top: .1rem;
            padding-left: .1rem;
        }
    }
}
/*---------------------------------------/*
 # BOOTSTRAP
/*---------------------------------------*/
.nav-link {
    color: $color-darkgrey !important;
    transition: color 0.3s ease-in !important;
    font-weight: 700;
    &:hover {
        color: $color-pink !important;
    }
}
.dropdown-item {
    color: $color-darkgrey !important;
    transition: color 0.3s ease-in, background-color 0.5s ease-out;
    &:hover {
        color: $color-pink !important;
    }
}
.active {
  color: $color-pink !important;
  background-color: white !important;
}
.navbar-toggler {
    border: none !important;
}
.form {
    &-label {
        margin-top: 5rem;
        padding-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: 700;
    }
    &-control {
        border: none;
        box-shadow: $shadow;
        margin-right: 1rem;
        border: none !important;
        border-radius: .4rem !important;
        color: $color-darkgrey !important;
        padding: .8rem 1rem !important;
        transition: box-shadow .15s ease-in, background-color .2s ease-out !important;
        &:hover {
            cursor: text;
            background-color: #f4f4f4;
            box-shadow: none;
        }
        &:focus {
            box-shadow: 0 0 0 0.25rem rgba(241, 183, 0, 0.5) !important;
        }
    }
}
.c-howest {
    display: flex;
    justify-content: center;
    &__img {
        margin-top: 5rem;
        height: 16rem;
        width: auto;
    }
}
/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
